body{
  zoom:0.8;
   

}

.web3modal-modal-lightbox {
  margin-left: -62.5vw !important;
}


@media only screen and (min-width: 360px) and (max-width: 744px) {
  body{
    zoom:1
  }
  .web3modal-modal-lightbox {
  margin-left: -54vw !important;
}
}


.map-container {
  height: 400px;
  width: auto;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  /* position: relative; */
  margin: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
}


/* Hide the draw toolbar */
.mapboxgl-draw-toolbar {
  display: none;
}

/* Style the draw button */


.mapbox-gl-draw_ctrl-draw-btn {
  background-color: #3498db !important;
  color: #fff !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
}

/* Style the trash button */
.mapbox-gl-draw_trash {
  position: relative;
  background-color: #e74c3c !important;
  color: #fff !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  top: 100 !important;
  left: 10 !important;
}



.formPage body {
  zoom: 1 !important;
}
