body{
  zoom:0.8;
   

}

.web3modal-modal-lightbox {
  margin-left: -62.5vw !important;
}


@media only screen and (min-width: 360px) and (max-width: 744px) {
  body{
    zoom:1
  }
  .web3modal-modal-lightbox {
  margin-left: -54vw !important;
}
}